*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgb(223, 200, 200),rgb(134, 141, 212));
}
#counter{
    height: 50vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px rgba(53, 219, 210, 0.423);
    border-radius: 20px;
    font-size: 48px;
}
button{
    height: 20px;
    width: 100px;
    border-radius: 20px;
    background-color: rgb(212, 36, 36);
    color: rgb(0, 0, 0);
}